<ion-view view-title="Expense List">
  <ion-content padding="true">
  
  
  <div class="item item-input item-select">
    <div class="input-label">
      Expense Sheet
    </div>	
	
	<select ng-model="list.sheet_id" ng-change="getBySheetId(list.sheet_id)" ng-options="sheet.id as sheet.name for sheet in sheets">
	<option value="">-- choose sheet --</option>
	</select>
</div> 
    
  <div class="row" ng-class-odd="'col-odd'" ng-class-even="'col-even'" ng-repeat="expense_rpt in expenses_rpt">
          <div class="col">
         <a ng-click="remove(expense_rpt.id)" style="color: tomato; font-size: 20px;"> <i class="icon ion-trash-a"></i> </a>
            {{expense_rpt.date | date:'MM/dd' }}
          </div>
          <div class="col col-50">
            {{ expense_rpt.category_name}}
          </div>
          <div class="col" style="text-align: right;">
            {{ expense_rpt.amount | currency }}
          </div>
          
        </div> 


  <div class="row col-odd" style="margin-top: 5px;">
          <div class="col col-33 col-offset-33">
            Total
          </div>
          
          <div class="col" style="text-align: right;">
           <b> {{ data.total | currency }} </b>
          </div>
        </div>		
	</ion-content>
</ion-view>
