<ion-view view-title="Expense Chart">
  <ion-content padding="true">
  

  <label class="item item-input item-select">
    <div class="input-label">
      Expense Sheet
    </div>	
	
	<select ng-model="exp.sheet_id" ng-change="showChart(exp.sheet_id)" ng-options="sheet.id as sheet.name for sheet in sheets">
	<option value="">-- choose sheet --</option>
	</select>
</label> 
 
<br> 
 
 <canvas tc-chartjs-doughnut chart-options="chart.options" chart-data="chart.data"></canvas>


  <div class="row" ng-repeat="chartitem in chart.data">
          <div class="col col-75" style="background-color: {{chartitem.color}}">
         {{ chartitem.label}}

          </div>
          <div class="col" style="background-color: {{chartitem.color}}">
            {{ chartitem.value}}
          </div>
                  
        </div> 

 	
  </ion-content>
</ion-view>
